<div class="container mt-5">
  <div class="card text-center">
    <div class="card-header bg-primary text-white">
      <h2>Calculadora</h2>
    </div>
    <div class="card-body">
      <input type="text" class="form-control text-end mb-3" [value]="currentInput" disabled>
      <div class="row g-2">
        <div class="col-3" *ngFor="let num of ['7','8','9','/','4','5','6','*','1','2','3','-','0','.','=','+']">
          <button class="btn btn-secondary w-100" (click)="handleClick(num)">{{ num }}</button>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger w-100" (click)="clearDisplay()">C</button>
    </div>
  </div>
</div>

